<div flex>

  <div layout-padding layout-margin>

      <form name="passwordResetForm"  novalidate>

        <h1 class="md-headline">{{ctrl.companyName}}</h1>

        <md-input-container>
          <label>Username</label>
          <input ng-model="ctrl.username" id="username" name="username" required>
          <div ng-messages="loginForm.username.$error" ng-show="loginForm.$submitted || loginForm.username.$dirty">
            <div ng-message="required">A username is required.</div>
          </div>
        </md-input-container>

        <div>
          <div>What is your mother's maiden name?</div>
        </div>

        <md-input-container>
          <label>Answer</label>
          <input ng-model="ctrl.secretAnswer" id="secretAnswer" name="secretAnswer" type="password" required>
        </md-input-container>


        <div layout="row" layout-align="start center">
          <md-button class="md-raised md-primary md-hue-2">Reset Pass</md-button>
        </div>

      </form>

  </div>

</div><!-- login -->
